.BreadcumbContainer{
    margin: 30px 0 50px 0px;
}

.BreadcumbLink{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: rgba(34, 34, 34, 0.5);
    text-decoration: none;
}

.BreadcumbLink:last-of-type{
    color: rgba(34, 34, 34);
}